<div class="modal fade none-border" id="add-new-spa_data">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><strong>Add</strong> a category</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<%= form_for @spa, url: update_spa_data_url, remote: true,  :authenticity_token => true do |f| %>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Type</label>
						<%= f.select(:pool_type ,[[ "In Ground", "inground" ],["Part of a pool","part_of_pool"],["Portable","portable_contained"]],{}, {:class=> "form-control"})  %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Manufacturer</label>
						<%= f.text_field :type_manufacturer, autofocus: true,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Model</label>
						<%= f.text_field :type_model, autofocus: true,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Serial number</label>
						<%= f.text_field :type_serial_number, autofocus: true,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Color</label>
						<%= f.text_field :type_color, autofocus: true,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Voltage</label>
						<%= f.text_field :type_voltage, autofocus: true,:class=>"form-control form-white" %>
					</div>

					<div class="col-md-6">
						<label class="control-label">Shape</label>
						<%= f.select(:shape ,[[ "Rectangular", "rectangular" ],["Round","round"],["Oval","oval"],["Kidney","kidney"]],{}, {:class=> "form-control"})  %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Surface Material</label>
						<%= f.select(:surface_material ,[[ "Plaster", "plaster" ],["Thermoplastic","thermoplastic"],["Paint","paint"],["Stainless Steel","stainless_steel"],["Wood","wood"],["Acrylic","acrylic"],["Gelcoat","gelcoat"],["Tile","tile"],["Vinyl","vinyl"]],{}, {:class=> "form-control"})  %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Brand</label>
						<%= f.text_field :equip_pump_brand, autofocus: true,:class=>"form-control form-white" %>
					</div>

					<div class="col-md-6">
						<label class="control-label">Model</label>
						<%= f.text_field :equip_model, autofocus: true ,:class=>"form-control form-white"%>
					</div>

					<div class="col-md-6">
						<label class="control-label">Horsepower</label>
						<%= f.text_field :equip_horsepower, autofocus: true ,:class=>"form-control form-white"%>
					</div>
					<div class="col-md-6">
						<label class="control-label">Service Factor:</label>
						<%= f.text_field :equip_service_factor,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Voltage/Amperage</label>
						<%= f.text_field :equip_voltage,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Filter Brand</label>
						<%= f.text_field :filter_brand,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Filter Model</label>
						<%= f.text_field :filter_model,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Filter Type</label>
						
						<%= f.select(:filter_type ,[[ "Cartridge", "cartridge" ],["Sand","sand"],["De","de"]],{}, {:class=> "form-control"})  %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Filter Size</label>
						<%= f.text_field :cartridge_size,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Replacement cartridge part #:
						</label>
						<%= f.text_field :cartridge_part,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">
							Date replaced:
						</label>
						<%= f.text_field :cartridge_date,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label"><h10>Filter-Sand</h10>
						Backwash Valve Model</label>
						<%= f.text_field :filter_sand_model,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label"> Backwash Valve Size</label>
						<%= f.text_field :filter_sand_size,:class=>"form-control form-white" %>
					</div>
					
					<div class="col-md-6">
						<label class="control-label"><h10>Filter DE</h10><br>
						Replacement Grid part #</label>
						<%= f.text_field :filter_de,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Heater Brand</label>
						<%= f.text_field :heater_brand,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Heater Model</label>
						<%= f.text_field :heater_model,:class=>"form-control form-white" %>
					</div>
					
					<div class="col-md-6">
						<label class="control-label">Heater Type</label>
						<%= f.select(:heater_type ,[[ "Electrical: Voltage/Amperage:", "electrical" ],["Natural Gas: BTU Rating:","natural_gas"],["Oil: BTU Rating:","oil"],["Solar","solar"]],{}, {:class=> "form-control"})  %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Time Clock Brand</label>
						<%= f.text_field :time_clock_brand,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Time Clock Model</label>
						<%= f.text_field :time_clock_model,:class=>"form-control form-white" %>
					</div>
					<div class="col-md-6">
						<label class="control-label">Time Clock Voltage</label>
						<%= f.text_field :time_clock_voltage,:class=>"form-control form-white" %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<%= f.submit "Save", :class=>"btn btn-secondary waves-effect",:id=>"save" %>
				<button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
			</div>
			<% end %>
		</div>
	</div>

	<script>
		$("#save").click(function() {
			console.dir("hahahah---[[[---")
			$('#add-new-spa_data').modal('hide');
		})
	</script>