<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title"> Pools </h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= root_url %>">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Pools</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div>
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 text-right">
                            <%= link_to 'New Pool',  new_pool_url,:class=>"btn btn-info btn-rounded"%>
                        </div>
                    </div>
                    <div class="card-body">
                        <% unless flash[:notice].blank? %>
                          <div class="flash_team_member">
                              <div id="flash_notice_team_member" class="flash_team_member flash_notice_team_member clearfix hide_for_print">
                                  <%= flash[:notice] %><i class="fa fa-check" style="float:right;"></i>
                              </div>
                          </div>
                        <%end%> 
                        <table id="demo-foo-addrow" class="table m-t-30 no-wrap table-hover contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Customer </th>
                                    <th> Pool Name </th>
                                    <th> Pool Type </th>
                                    <th> City</th>
                                    <th> State</th>
                                    <th> Country</th>
                                    <th> Status </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if !@pools.blank?%>
                                  <% @pools.each_with_index  do |pool, index| %>
                                    <tr >
                                        <td><%= index = index + 1 %></td>
                                        <td><%= pool.user.fullname rescue "" %></td>
                                        <td><%= pool.try(:pool_name)%></td>
                                        <td><%= pool.try(:pool_type)%> </td>
                                        <td><%= pool.address.try(:city_name)%> </td>
                                        <td><%= pool.address.try(:state_name)%> </td>
                                        <td><%= pool.address.try(:country_name)%> </td>
                                        <td><%= pool.try(:pool_activity)%> </td>
                                        <td>
                                            <%= link_to '',edit_pool_url(pool), :class => "fa fa-edit"%>
                                            <%= link_to '',pool_url(pool), method: :delete,
                                              data: { confirm: "Are you sure you want to delete?" }, 
                                              :class => "fa fa-trash-alt" , :style=> "color: red; margin-left: 12px"%>
                                        </td>
                                    </tr>
                                  <% end %>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

