

<script type="text/javascript">$.LiveAddress("2676492808779544509");</script>

<div > 
	<!-- ============================================================== -->
	<!-- Bread crumb and right sidebar toggle -->
	<!-- ============================================================== -->
	<div class="page-breadcrumb" >
		<div class="row">
			<div class="col-5 align-self-center">
				<h4 class="page-title">Form Horizontal</h4>
				<div class="d-flex align-items-center">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Library</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="col-7 align-self-center">
				<div class="d-flex no-block justify-content-end align-items-center">
					<div class="m-r-10">
						<div class="lastmonth"></div>
					</div>
					<div class=""><small>LAST MONTH</small>
						<h4 class="text-info m-b-0 font-medium">$58,256</h4></div>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<!-- Row -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title" style="text-align: center;">CUSTOMER PERSONAL SETTINGS</h4>
							<h6 class="card-subtitle"></h6>
						</div>
						<hr>

						<div class="card-body">
							<h4 class="card-title">CUSTOMER INFO</h4>
							<div class="form-group row">
								<label for="fname" class="col-sm-3 text-right control-label col-form-label">Customer Id</label>
								<div class="col-sm-9">
									<p class= "form-control">
									<%= @user.id %>
									</p>
								</div>
							</div>
							<div class="form-group row">
								<label for="fname" class="col-sm-3 text-right control-label col-form-label">First Name</label>
								<div class="col-sm-9">
									<p class= "form-control">
									<%= @user.first_name %>
									</p>
								</div>
							</div>
							<div class="form-group row">
								<label for="fname" class="col-sm-3 text-right control-label col-form-label">First Name</label>
								<div class="col-sm-9">
									<p class= "form-control">
									<%= @user.last_name %>
								</p>
								</div>
							</div>
							<div class="form-group row">
								<label for="email1" class="col-sm-3 text-right control-label col-form-label">Email</label>
								<div class="col-sm-9">
									<p class= "form-control">
									<%= @user.email %>
								</p>
								</div>
							</div>
							
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>




<script type="text/javascript">
	$("#blah").mouseover(function () {
		$('#blah').Jcrop({
			onSelect: showCoords,
			onChange: showCoords
		});

	})

	$("#datepicker").datepicker({format: 'yyyy-mm-dd'});

	$(".inner").click(function () {
		$(".inner").html('');
		$(".inner").removeClass("button");
		$(".pwd").html('<div><%= label_tag :password %> <i>(leave blank if you dont want to change it)</i><br /><%= password_field_tag :password,'', autocomplete: "off" ,:style=>"margin-left: 6%;"%></div><div><%= label_tag :password_confirmation %><br /><%= password_field_tag :password_confirmation,'', autocomplete: "off" ,:style=>"margin-left: 6%;"%></div>');
	});



	$('.mobile_number_team_member').keyup(function () {
        foo = $(this).val().split("-").join(""); // remove hyphens

        foo = foo.match(new RegExp('.{1,4}$|.{1,3}', 'g')).join("-");

        $(this).val(foo);

    });

</script>
<style type="text/css">
#settings_area form input.wide[type="text"]{
	width: 100%;
} 
#user_avatar{
	padding: 0;
}
</style>

