<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Jobs</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Jobs</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12" style=" background: #fff; padding: 0px">

            <!-- Nav tabs -->
            <%= render 'jobs/tabs', tab: 1 %>

            <!-- Tab panes -->
            <div class="tab-content m-t-20">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <% flash.each do |key, value| %>
                              <div class="alert alert-<%= key %>"><%= value %></div>
                            <% end %>
                            <div class="card-body">
                                <div  class="row" style="margin-top: 10px">
                                    <div class="col-md-4 col-12 text-left">
                                        <h4> Estimates </h4>
                                    </div>
                                    <div class="col-md-8 col-12 text-right">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                                            New Estimates
                                        </button>
                                    </div>
                                </div>
                            </div>



                            <div class="card-body">
                                <% unless flash[:notice].blank? %>
                                  <div class="flash_team_member">
                                      <div id="flash_notice_team_member" class="flash_team_member flash_notice_team_member clearfix hide_for_print">
                                          <%= flash[:notice] %><i class="fa fa-check" style="float:right;"></i>
                                      </div>
                                  </div>
                                <%end%> 

                                <table id="demo-foo-addrow" class="table m-t-30 no-wrap table-hover contact-list" data-page-size="10">
                                    <thead>

                                        <tr>
                                            <th>Estimate #</th>
                                            <th>Customer </th>
                                            <th>Estimated Date</th>
                                            <th>Total Amont</th>
                                            <th>Actions</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <% if !@estimates.blank?%>
                                          <% @estimates.each do |job| %>
                                            <tr >
                                                <td><%= job.try(:job_number) %></td>
                                                <td><%=  customer_name(job) %></td>
                                                <td><%= job.created_at.strftime("%b/%m/%Y")  %></td>
                                                <td><%= job.grand_total  %></td>

                                                <td>
                                                    <%= link_to '',edit_estimate_url(job), :class => "fa fa-edit"%>
                                                    <%= link_to '',estimate_url(job), :class => "fa fa-file-alt", :style => "color: green; padding-left: 5px; padding-right: 5px; font-size: 16px" %>
                                                    <%= link_to '',estimate_url(job), :class => "fa fa-eye", :style => "color: green; padding-left: 5px; padding-right: 5px; font-size: 16px" %>
                                                    <%= link_to '',estimate_url(job), method: :delete,
                                                      data: { confirm: "Are you sure you want to delete?" }, 
                                                      :class => "fa fa-trash-alt" , :style=> "color: red"%>
                                                    <%= link_to '',customer_url(job), method: :post,
                                                      data: { confirm: "Are you sure you want to delete?" }, 
                                                      :class => "fa fa-envelope" , :style=> "color: green; margin-left: 5px"%>
                                                </td>
                                            </tr>

                                          <% end %>
                                        <% end %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
     aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document" style=" max-width: 600px;">
        <div class="modal-content" style="border-radius: 6px">
            <div class="modal-header" style="  border-radius: 5px;  background: #023aaf;
                 color: #fff; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                <h4 class="modal-title" id="exampleModalLabel1"> New Estimate (Select Customer)</h4>
                <button style=" color: #fff; opacity: 1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >

                <div class="row">
                    <div class="col-md-12">
                        <h6>Which Client would you like to use for this Estimate?</h6>

                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input class="form-control" 
                                           onkeyup="checkInput('num1');"
                                           placeholder="Search Customer" 
                                           id="textValue"
                                           />
                                </div>
                            </div>
                            <div class="col-md-2" style="text-align: center; padding: 6px; font-weight: bold">
                                — OR —
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-block btn-outline-info">
                                    <b> Create New Customer </b>    
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" id="customers">
                        <%= render 'shared/customers/customers',  customer: @customers%>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
  function checkInput(number) {
      var value = document.getElementById("textValue").value;
      $.ajax({
          type: "GET",
          url: "/customers/list_customers",
          data: {
              company_id: <%= current_user.try(:company_id)%>,
              name: value
          },
          cache: false,
          success: function (data) {
          }
      });
  }

</script>
