  <table id="" class="table m-t-30 no-wrap table-hover contact-list" data-page-size="10">
      <tbody>
          <tr>
              <td>
                  <label>Filter Cleaned</label>
              </td>
              <td >
                  <%= text_field_tag "service_plan_label[filter_cleaned]",nil,:value=> "Filter Cleaned" ,:class=>"form-control"%>
              </td>
          </tr>

          <tr>
              <td>
                  <label>Filter Cleaned</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[filter_cleaned]",nil,:value=> "Filter Cleaned" ,:class=>"form-control"%>
              </td>
          </tr>

          <tr>
              <td>
                  <label>Backwash</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[backwash]",nil,:value=> "Backwash (sand filter)" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Brushing walls</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[brushed_walls_steps]",nil,:value=>"Brushing walls",:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Skimming Surface</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[skimming_surface]",nil,:value=> "Skimming Surface" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Waterline tiles cleaned</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[waterline_tiles_cleaned]",nil,:value=> "Waterline tiles cleaned" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Cleaned Skimmer Baskets</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[cleaned_skimmer_baskets]",nil,:value=>"Cleaned Skimmer Baskets" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Netted Surface Debris</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[netted_surface_debris]",nil,:value=>"Netted Surface Debris" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Floor vacuumed</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[floor_vacuumed]",nil,:value=> "Floor vacuumed" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Pump strainer baskets</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[pump_strainer_baskets]",nil,:value=>"Pump strainer baskets" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Cleaned Pump Basket</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[cleaned_pump_basket]",nil,:value=> "Cleaned Pump Basket" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Vacuumed Pool</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[vacuumed_pool]",nil,:value=>"Vacuumed Pool" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Checked Water Level</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[checked_water_level]",nil,:value=> "Checked Water Level",:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Inspected Pump</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[inspected_pump]",nil,:value=>"Inspected Pump" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Pool Sweep / Cleaner</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[pool_sweep_cleaner]",nil,:value=> "Pool Sweep / Cleaner" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>NET surface & bottom</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[net_surface_bottom]",nil,:value=> "NET surface & bottom" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Inspect Pool & Spa Equipment</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[inspect_pool_spa_eqip]",nil,:value=> "Inspect Pool & Spa Equipment" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Wipe ladder and handrails</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[wipe_ladder_handrails]",nil,:value=> "Wipe ladder and handrails" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Adjust TimeClock as needed</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[adjust_timeclock]",nil,:value=> "Adjust TimeClock as needed" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>ADD water  as needed</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[add_water_needed]",nil,:value=> "ADD water  as needed" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Filter Pressure Monitor</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[filter_pressure_monitor]",nil,:value=> "Filter Pressure Monitor" ,:class=>"form-control"%>
              </td>
          </tr>
          <tr>
              <td>
                  <label>Customer Note</label>
              </td>
              <td>
                  <%= text_field_tag "service_plan_label[notes_to_customer]",nil,:value=> "Customer Note" ,:class=>"form-control"%>
              </td>
          </tr>

      </tbody>
      <tfoot>
          <tr>
              <td colspan="2">
                  <%= submit_tag "Update",:class=>"btn btn-info btn-rounded",:style=>"float:right;"%>
              </td>
          </tr>
      </tfoot>
  </table>





