





<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Footable Table</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex no-block justify-content-end align-items-center">
                    <div class="m-r-10">
                        <div class="lastmonth"></div>
                    </div>
                    <div class=""><small>LAST MONTH</small>
                        <h4 class="text-info m-b-0 font-medium">$58,256</h4></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                              <table id="" class="table m-t-30 no-wrap table-hover contact-list" data-page-size="10">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <label><%=  "Filter Cleaned" %></label>
                                          </td>

                                          <td >
                                              <input type='hidden' value='0' name='service_plan[filter_cleaned]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[filter_cleaned]" value= false">
                                          </td>
                                      </tr>

                                      <tr>
                                          <td>
                                              <label><%= "Backwash (sand filter)" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[backwash]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[backwash]" value= "false">      
                                          </td>
                                      </tr>

                                      <tr>
                                          <td>
                                              <label><%=  "Brushing walls" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[brushed_walls_steps]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[brushed_walls_steps]"  value="false">
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Skimming Surface" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[skimming_surface]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[skimming_surface]"  value="true">
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%=  "Waterline tiles cleaned"  %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[waterline_tiles_cleaned]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[waterline_tiles_cleaned]"  value="true">
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Cleaned Skimmer Baskets" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[cleaned_skimmer_baskets]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[cleaned_skimmer_baskets]"  >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Netted Surface Debris" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[netted_surface_debris]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[netted_surface_debris]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%="Floor vacuumed" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[floor_vacuumed]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[floor_vacuumed]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Pump strainer baskets" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[pump_strainer_baskets]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[pump_strainer_baskets]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Cleaned Pump Basket" %></label>		
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[cleaned_pump_basket]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[cleaned_pump_basket]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Vacuumed Pool" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[vacuumed_pool]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[vacuumed_pool]"  >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Checked Water Level" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[checked_water_level]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[checked_water_level]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Inspected Pump" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[inspected_pump]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[inspected_pump]"  >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Pool Sweep / Cleaner" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[pool_sweep_cleaner]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[pool_sweep_cleaner]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "NET surface & bottom" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[net_surface_bottom]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[net_surface_bottom]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Inspect Pool & Spa Equipment" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[inspect_pool_spa_eqip]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[inspect_pool_spa_eqip]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%="Wipe ladder and handrails" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[wipe_ladder_handrails]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[wipe_ladder_handrails]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Adjust TimeClock as needed" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[adjust_timeclock]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[adjust_timeclock]" value= "true">
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "ADD water  as needed" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[add_water_needed]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[add_water_needed]" value="false">
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Filter Pressure Monitor" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[filter_pressure_monitor]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[filter_pressure_monitor]">
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <label><%= "Customer Note" %></label>
                                          </td>
                                          <td>
                                              <input type='hidden' value='0' name='service_plan[notes_to_customer]'>
                                              <input type="checkbox" style="float: right;width: 20%;" name="service_plan[notes_to_customer]" >
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <%= label_tag :name%>
                                          </td>
                                          <td>
                                              <%= text_field_tag "service_plan[name]",nil,:value=>"as",:class=>"form-control"%>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <%= label_tag :unit_cost%>
                                          <td>
                                              <%=text_field_tag "service_plan[unit_cost]",nil,:class=>"form-control"%>                                        </td>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <%= label_tag :description%>
                                          </td>
                                          <td>
                                              <%= text_area_tag "service_plan[description]","as",:class=>"form-control"%>                                       
                                          </td>
                                      </tr>
                                  </tbody>
                                  <tfoot>
                                      <tr>
                                          <td colspan="2">
                                              <%= hidden_field_tag "id",nil,value: params[:id]%>

                                              <%= submit_tag "submit",:class=>"btn btn-info btn-rounded",:style=>"float:right;"%>
                                          </td>
                                      </tr>
                                  </tfoot>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
