

<div class="col-md-3">
    <div class="form-group row">
        <%= f.text_field :name , :class => "form-control" , :placeholder=>"Name", :required => true%>
    </div>
</div>

<div class="col-md-5">
    <div class="form-group row">
        <div class="col-md-11">
            <%= f.text_field :description , :class => "form-control" , :placeholder=>"Description", :required => true%>
        </div>
    </div>
</div>

<div class="col-md-1">
    <div class="form-group row">
        <div class="col-md-9">
            <%= f.text_field :quantity , :class => "form-control" , :onkeyup=>"AddQuantity(this.id)"  , :required => true%>
        </div>
    </div>
</div>

<div class="col-md-1">
    <div class="form-group row">
        <div class="col-md-9">
            <%= f.text_field :unit_cost , :class => "form-control" , :onkeyup=>"AddPrice(this.id)", :required => true%>
        </div>
    </div>
</div>

<div class="col-md-1">
    <div class="form-group row">
        <div class="col-md-12">
            <%= f.number_field :total , :class => "form-control" , :readonly => true%>
        </div>
    </div>
</div>



