<div class="col-md-12">
    <div class="table-responsive m-t-40" style="clear: both;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">Name</th>
                    <th>Description</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Unit Cost</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <% @job.line_items.each_with_index do |item, index| %>
                  <tr>
                      <td class="text-center"><%= index + 1%> </td>
                      <td class="text-left"><%= item.name%> </td>
                      <td><%= item.description%></td>
                      <td class="text-right"> <%= item.quantity %> </td>

                      <td class="text-right"> $<%= item.unit_cost %> </td>
                      <td class="text-right"> $<%= item.total %>  </td>
                  </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>