
<ul class="nav nav-tabs customtab" role="tablist">
    <li class="nav-item"> 
        <a class="nav-link <%= 'active' if tab == 1 %> " href="<%= estimates_url %> " >

            <span class="hidden-xs-down">Estimates </span>
        </a> 
    </li>
    <li class="nav-item"> 
        <a class="nav-link <%= 'active' if tab == 2 %>"  href="<%= jobs_url %> ">
            <span class="hidden-xs-down"> Work Orders</span></a> 
    </li>
    <li class="nav-item"> 
        <a class="nav-link <%= 'active' if tab == 3 %>" href="<%= invoices_url %>">
            <span class="hidden-xs-down">Inovices </span></a> 
    </li>
</ul>