<div class="page-breadcrumb">

    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">New <%= session[:type] %></h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= root_url%>">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= session[:type] %>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

</div>




<div class="container-fluid">
    <div class="row">
        <div class="col-12" style=" background: #fff; padding: 0px">
            <div class="card">
                <div class="card-body">
                    <div  class="row" style="margin-top: 10px">
                        <div class="col-md-12 col-12 ">
                            <h4><%= session[:type] %></h4>
                            <p>Which property would you like to use for this <%= session[:type] %>?</p>
                        </div>

                        <div class="col-md-12 col-12 text-center">
                            Pools beloging to <%= @user.try(:fullname)  %> -  OR  -
                            <%= link_to 'Create new Pool', new_job_url(type: 'estimate'),:class=>"btn btn-info btn-rounded"%>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <% if !@pools.blank?%>
                      <table id="demo-foo-addrow" class="table m-t-30 no-wrap table-hover contact-list" data-page-size="10">
                          <thead>
                              <tr>
                                  <th> Pool Name </th>
                                  <th> Pool Type </th>
                                  <th> City</th>
                                  <th> State</th>
                                  <th> Country</th>
                                  <th> Status </th>
                                  <th> Select Pool</th>
                              </tr>

                          </thead>
                          <tbody>

                              <% @pools.each do |pool| %>
                                <tr>
                                    <td><%= pool.try(:pool_name)%></td>
                                    <td><%= pool.try(:pool_type)%> </td>
                                    <td><%= pool.address.try(:city_name)%> </td>
                                    <td><%= pool.address.try(:state_name)%> </td>
                                    <td><%= pool.address.try(:country_name)%> </td>
                                    <td><%= pool.try(:pool_activity)%> </td>
                                    <td>
                                        <% if session[:type] == 'Estimate' %>
                                          <%= link_to 'Select Customer',new_estimate_url(pool_id: pool.try(:id)), :class => "btn btn-success"%>
                                        <% else %>
                                          <%= link_to 'Select Customer',new_job_url(pool_id: pool.try(:id)), :class => "btn btn-success"%>
                                        <% end %>
                                    </td>
                                </tr>

                              <% end %>
                          </tbody>
                      </table>
                    <% else %>
                      <div>
                          <h6> No Pool exist.</h6>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
