<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Jobs</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Jobs</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</div>





<div class="container-fluid">
    <div class="row">
        <div class="col-12" style=" background: #fff; padding: 0px">

            <!-- Nav tabs -->
            <%= render 'jobs/tabs', tab: 2 %>

            <!-- Tab panes -->
            <div class="tab-content m-t-20">

                <div class="row">
                    <div class="col-12">

                        <div class="card">

                            <div class="card-body">
                                <div  class="row" style="margin-top: 10px">
                                    <div class="col-md-4 col-12 text-left">
                                        <h4> Jobs </h4>
                                    </div>
                                    <div class="col-md-8 col-12 text-right">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                                            New Job
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="card-body">
                                <% unless flash[:notice].blank? %>
                                  <div class="flash_team_member">
                                      <div id="flash_notice_team_member" class="flash_team_member flash_notice_team_member clearfix hide_for_print">
                                          <%= flash[:notice] %><i class="fa fa-check" style="float:right;"></i>
                                      </div>
                                  </div>
                                <%end%> 

                                <table id="demo-foo-addrow" class="table m-t-30 no-wrap table-hover contact-list" data-page-size="10">

                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Customer </th>
                                            <th>Start Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% if !@jobs.blank?%>
                                          <% @jobs.each do |job| %>
                                            <tr>
                                                <td><%= job.try(:job_number) %></td>
                                                <td><%=  customer_name(job) %></td>
                                                <td><%= job.start_date.strftime("%b/%m/%Y")  %></td>


                                                <td>
                                                    <%= link_to '',edit_job_url(job), :class => "fa fa-edit"%>
                                                    <%= link_to '',job_url(job), :class => "fa fa-eye", :style => "color: green; padding-left: 5px; padding-right: 5px; font-size: 16px" %>
                                                    <%= link_to '',job_url(job), method: :delete,
                                                      data: { confirm: "Are you sure you want to delete?" }, 
                                                      :class => "fa fa-trash-alt" , :style=> "color: red"%>
                                                </td>
                                            </tr>
                                          <% end %>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<%= render 'modal' %>

