

<script type="text/javascript">$.LiveAddress("2676492808779544509");</script>

<div > 
	<!-- ============================================================== -->
	<!-- Bread crumb and right sidebar toggle -->
	<!-- ============================================================== -->
	<div class="page-breadcrumb" >
		<div class="row">
			<div class="col-5 align-self-center">
				<h4 class="page-title">Form Horizontal</h4>
				<div class="d-flex align-items-center">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Library</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="col-7 align-self-center">
				<div class="d-flex no-block justify-content-end align-items-center">
					<div class="m-r-10">
						<div class="lastmonth"></div>
					</div>
					<div class=""><small>LAST MONTH</small>
						<h4 class="text-info m-b-0 font-medium">$58,256</h4></div>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<!-- Row -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title" style="text-align: center;">Create Job</h4>
							<h6 class="card-subtitle"></h6>
						</div>
						<hr>
						<%= form_for @job, url: jobs_url do |f| %>

						<div class="card-body">
							<h4 class="card-title">Job info</h4>
							<div class="form-group row">
								<label for="fname" class="col-sm-3 text-right control-label col-form-label">Job Name</label>
								<div class="col-sm-9">
									<%= f.text_field :name, autofocus: true ,:placeholder=>"First Name Here",:class=>"form-control"%>
								</div>
							</div>
							<div class="form-group row">
								<label for="email1" class="col-sm-3 text-right control-label col-form-label">Start Time</label>
								<div class="col-sm-9">
									<%= f.text_field :start_time, autofocus: true ,:type=>"time",:class=>"form-control", :required => true%>
								</div>
							</div>
							<div class="form-group row">
								<label for="cono1" class="col-sm-3 text-right control-label col-form-label">Amount</label>
								<div class="col-sm-9">

									<%= f.text_field :amount, autofocus: true ,:class=>"form-control",placeholder: "Amount No Here"%>

								</div>
							</div>
							<div class="form-group row" id="login_credentials">
								<label for="lname" class="col-sm-3 text-right control-label col-form-label">Description</label>
								<div class="col-sm-9">
									<%= f.text_field :description, autofocus: true ,:placeholder=>"description Name Here",:class=>"form-control"%>
								</div>
							</div>
							<hr>
							<div class="col-md-12">
								<%= submit_tag "Create Client",:class=>"btn btn-info"%>
							</div>


						</div>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>




	<script type="text/javascript">
		$("#blah").mouseover(function () {
			$('#blah').Jcrop({
				onSelect: showCoords,
				onChange: showCoords
			});

		})

		$("#datepicker").datepicker({format: 'yyyy-mm-dd'});

		$(".inner").click(function () {
			$(".inner").html('');
			$(".inner").removeClass("button");
			$(".pwd").html('<div><%= label_tag :password %> <i>(leave blank if you dont want to change it)</i><br /><%= password_field_tag :password,'', autocomplete: "off" ,:style=>"margin-left: 6%;"%></div><div><%= label_tag :password_confirmation %><br /><%= password_field_tag :password_confirmation,'', autocomplete: "off" ,:style=>"margin-left: 6%;"%></div>');
		});



		$('.mobile_number_team_member').keyup(function () {
        foo = $(this).val().split("-").join(""); // remove hyphens

        foo = foo.match(new RegExp('.{1,4}$|.{1,3}', 'g')).join("-");

        $(this).val(foo);

    });

</script>
<style type="text/css">
#settings_area form input.wide[type="text"]{
	width: 100%;
} 
#user_avatar{
	padding: 0;
}
</style>

