<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title"> Job </h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Job </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea">
                <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
                <h3><b>JOB</b> <span class="pull-right">#<%= @job.job_number %></span></h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address style="margin-left: 10px">
                                <h3>
                                    <b class="text-danger">
                                        <%=  customer_name(@job) %>
                                    </b>
                                </h3>
                                <% if  @pool.address %>
                                  <p class="text-muted m-l-7">
                                      <%= @pool.address.try(:address_name) %>,
                                      <br> <%= @pool.address.try(:city_name) %>,
                                      <br> <%= @pool.address.try(:country_name) %>
                                  </p>
                                <% end %>
                            </address>
                        </div>
                        <div class="pull-right text-right">
                            <address>
                                <p class="m-t-30"><b>Start Date :</b> 
                                    <i class="fa fa-calendar"></i>  <%= @job.start_date.strftime("%b/%m/%Y")  %>
                                </p>
                                <p class="m-t-30"><b>End Date :</b> 
                                    <i class="fa fa-calendar"></i>  <%= @job.end_date.strftime("%b/%m/%Y")  %>
                                </p>
                            </address>
                        </div>
                    </div>

                    <div class="col-md-12" style="background: #e6e6e65e; border-radius: 5px"> 
                        <div class="col-md-12">
                            <%= form_for @job, url: line_item_url, method: :put do |f| %>
                              <div class="row">
                                  <div class="col-md-4" style=" padding: 14px;
                                       font-size: 15px;
                                       font-weight: bold;">
                                      Work Items 
                                  </div>
                                  <div class="col-md-8 text-right" style="padding: 14px;">
                                      <button id="addnewItem" class="btn btn-default btn-outline" type="button"> <span>
                                              <i class="fa fa-plus"></i> 
                                              <%=  f.add_nested_fields_link :line_items  %>
                                          </span> 
                                      </button>
                                  </div>


                                  <%= f.hidden_field :job_id, :value => "#{@job.id}" %>
                                  <div class="col-md-12" >
                                      <div id="loadItems">

                                          <%= f.nested_fields_for :line_items do |ff| %>
                                            <div class="row" style="margin-top: 10px">
                                                <div class="col-md-1">
                                                    <div class="form-group row">

                                                        <%= ff.remove_nested_fields_link "–" , :class => 'btn btn-danger'%>
                                                    </div>
                                                </div>
                                                <%= render 'jobs/line_item', f: ff %>
                                            </div>

                                          <% end %>
                                      </div>
                                  </div>

                                  <div class="col-md-12 " id="myDIV" style="padding-bottom: 20px; display: none;     border-bottom: 1px solid #ddd;
                                       margin-bottom: 22px;">
                                       <%= submit_tag "Save",:class=>"btn btn-info",:style => "float: right;"%>
                                  </div>
                              </div>
                            <% end %>
                        </div>
                    </div>




                    <div class="col-md-12" style="background: #e6e6e65e; border-radius: 5px; margin-top: 20px; border: 1px solid #ddd"> 
                        <div class="col-md-12">
                            <%= form_for @job, url: line_item_url, method: :put do |f| %>
                              <div class="row">

                                  <div class="col-md-4" style=" padding: 14px;
                                       font-size: 15px;
                                       font-weight: bold;">
                                      Visit(s) Plan
                                  </div>




                                  <%= f.hidden_field :job_id, :value => "#{@job.id}" %>
                                  <% if !@job.blank? %>
                                    <div class="col-md-12" style=" border-bottom: 1px solid #ddd">
                                        <div>
                                            <% @job.job_assign_visits.each do |visit| %>
                                              <div class="row" style="margin-top: 10px">
                                                  <%= render 'jobs/plan_visits', visit: visit %>
                                              </div>
                                            <% end %>
                                        </div>

                                    </div>
                                  <% end %>
                              </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="visitAssign" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 650px">
        <div class="modal-content" style="border-radius: 6px" id='content'></div>
    </div>
</div>