
<%if !@custom_field.blank?%>

  <%  @custom_field.each_with_index do |custom_field,index|%>

    <div class="col-md-6">
        <div class="form-group row">
            <label for="uname1" class="col-md-3 text-right control-label col-form-label">
                <%= custom_field.name%> 
            </label>

            <input class="form-control" type="hidden" 
                   name="custom_field[default][<%= custom_field.try(:id)%>][id]" 
                   value="<%= custom_field.try(:id)%> ">


            <div class="col-md-9">

                <% if  custom_field.try(:value_type) == "area" || custom_field.try(:value_type) == "integer" || custom_field.try(:value_type) == "text"%>
                  <input class="form-control" type="text" 
                         placeholder="<%= custom_field.try(:name)%> " 
                         name="custom_field[default][<%= custom_field.try(:id)%>][value]" required=""
                         value="<%= custom_values(custom_field, id)%>">

                <% elsif custom_field.try(:value_type) == "boolean" %>

                  <%= select_tag("custom_field[default][#{custom_field.try(:id)}][value]", options_for_select([['True', 'true'], ['False', 'false']], selected: custom_values(custom_field,id)), :class => "form-control") %>

                <% end %>



            </div>   
        </div>
    </div>
  <%end%>
<%end%>
