<div id="app_wrapper">
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">General Settings </h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="<%= root_url%>">Dashboard</a></li>

                                <li class="breadcrumb-item active" aria-current="page"> General Settings</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">General Overview</h4>
                            <h6 class="card-subtitle">
                                The information specified here is used throughout your company's CopperService account. It applies to all users.
                            </h6>
                        </div>
                        <hr>
                        <form class="form-horizontal">
                            <div id="settings_area">
                                <div class="card-body company charge_view1">
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Company Name</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" style="max-width: 90%;" id="fname" placeholder="company name here" value="<%= current_user.company.name %>" readonly>
                                        </div>
                                        <div class="" align="right">
                                            <button type="button" class="btn btn-info waves-effect waves-light change_company" id="change_company"><i class="fa fa-home"></i> Change Company
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <h4 class="card-title">General</h4>
                                    <h6 class="card-subtitle">Address</h6>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">City</label>
                                        <div class="col-sm-7">
                                            <p class="form-control" style="max-width: 90%;">
                                                <%= current_user.company.address.city_name %>
                                            </p>
                                        </div>
                                        <div class="" align="right" >
                                            <button type="button" class="btn btn-info waves-effect waves-light " style="margin-top: -2%;" id="change_address"><i class="fa fa-home"></i> Change Address
                                            </button>
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Country</label>
                                        <div class="col-sm-7">
                                            <p class="form-control" style="max-width: 90%;">  
                                                <%= current_user.company.address.country_name %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Zip Code</label>
                                        <div class="col-sm-7">
                                            <p class="form-control" style="max-width: 90%;">  
                                                <%= current_user.company.address.zipcode %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="form-group m-b-0 text-left">
                                        <a class="btn btn-danger" style="color: #fff">
                                            Delete Account
                                        </a>   
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit">
</div>


<script type="text/javascript">
  $("#change_company").click(function () {
      $.ajax({
          url: "/companies/" +<%= current_user.company.id %> + "/edit",
          type: "GET",
          success: function () {
              $("#update").click(function () {
                  $('#my-event').modal('hide');
              })
          }})
  })
  $("#change_address").click(function () {
      $.ajax({
          url: "/companies/" +<%= current_user.company.address.id %> + "/edit_address",
          type: "GET",
          success: function () {
              $("#update").click(function () {
                  $('#my-event').modal('hide');
              })
          }})
  })
</script>

<style type="text/css">
    .button{
        font-size: 12px !important;
    }	
</style>