<div class="modal none-border" id="my-event">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Add</strong> a category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <%= form_for @job, url: calendar_url, remote: true,  :authenticity_token => true do |f| %>
        <div class="card-body" style="    position: absolute;">
        <%= f.hidden_field :user_id , :class => "form-control", :value => "#{current_user.try(:id)}" %>
        <%= f.hidden_field :company_id , :class => "form-control" , :value => "#{current_user.try(:company_id)}"%>
        <%= f.hidden_field :pool_id , :class => "form-control" , :value => "#{@pool.try(:id)}"%>
        <%= f.hidden_field :job_type, :value => "Job" %>
        <%= f.hidden_field :status, :value => "Pending" %>
        <%= f.hidden_field :customer_id, :value => "#{@pool.user.try(:id)}" %>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">
              Work Order
            </label>
            <%= f.select(:schudle, ["One Off", "Recurring Contract"].collect {|n| [ n ]},{},:class=>"form-control form-white" ,:placeholder=>"To")%>
          </div>
          <div class="col-md-6">
            <label class="control-label">Job #</label>
            <%= f.text_field :job_number , :class => "form-control form-white" , :placeholder=>"0", :value => "#{SecureRandom.random_number(10000)}", :required => ""%>
          </div>

          <div class="col-md-12">
            <label class="control-label">Description</label>
            <textarea rows="2" name="job[description]" id="myTextarea" cols="50" class="form-control"></textarea>
          </div>

          <div class="col-md-6">
            <label class="control-label">Start Date</label>
            <input type="date" name="job[start_date]" class="form-control"  required="">
          </div>

          <div class="col-md-6">
            <label class="control-label">End Date</label>
            <input type="date" name="job[end_date]" class="form-control"  required="">
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <h4> Visit :</h4> 
              </div>
              <div class="col-md-10">
                This job will show up in schedules on the start date 
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding-top: 20px; display: none">
            <label class="control-label">Start Time</label>
            <input type="datetime" class="">
          </div>
          <div class="row" style="padding-top: 20px; display: none">
            <div class="col-md-6" style="padding-top: 20px; display: none">
              <div class="form-group">
                <label>Default Pickatime</label>
                <h6 class="card-subtitle">To use add <code>.pickatime</code> class for Default PickaDate Picker.</h6>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="ti-alarm-clock"></span>
                    </span>
                  </div>
                  <input type="text" class="form-control pickatime picker__input" placeholder="Default Pickatime" readonly="" id="P1331682768" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="P1331682768_root"><div class="picker picker--time" id="P1331682768_root" aria-hidden="true"><div class="picker__holder" tabindex="-1" style=""><div class="picker__frame"><div class="picker__wrap"><div class="picker__box"><ul class="picker__list" role="listbox" aria-controls="P1331682768"><li class="picker__list-item" data-pick="0" role="option" aria-label="12:00 AM">12:00 AM</li><li class="picker__list-item" data-pick="30" role="option" aria-label="12:30 AM">12:30 AM</li><li class="picker__list-item" data-pick="60" role="option" aria-label="1:00 AM">1:00 AM</li><li class="picker__list-item" data-pick="90" role="option" aria-label="1:30 AM">1:30 AM</li><li class="picker__list-item" data-pick="120" role="option" aria-label="2:00 AM">2:00 AM</li><li class="picker__list-item" data-pick="150" role="option" aria-label="2:30 AM">2:30 AM</li><li class="picker__list-item" data-pick="180" role="option" aria-label="3:00 AM">3:00 AM</li><li class="picker__list-item" data-pick="210" role="option" aria-label="3:30 AM">3:30 AM</li><li class="picker__list-item" data-pick="240" role="option" aria-label="4:00 AM">4:00 AM</li><li class="picker__list-item picker__list-item--selected picker__list-item--highlighted picker__list-item--viewset" data-pick="270" role="option" aria-label="4:30 AM" aria-selected="true" aria-activedescendant="true">4:30 AM</li><li class="picker__list-item" data-pick="300" role="option" aria-label="5:00 AM">5:00 AM</li><li class="picker__list-item" data-pick="330" role="option" aria-label="5:30 AM">5:30 AM</li><li class="picker__list-item" data-pick="360" role="option" aria-label="6:00 AM">6:00 AM</li><li class="picker__list-item" data-pick="390" role="option" aria-label="6:30 AM">6:30 AM</li><li class="picker__list-item" data-pick="420" role="option" aria-label="7:00 AM">7:00 AM</li><li class="picker__list-item" data-pick="450" role="option" aria-label="7:30 AM">7:30 AM</li><li class="picker__list-item" data-pick="480" role="option" aria-label="8:00 AM">8:00 AM</li><li class="picker__list-item" data-pick="510" role="option" aria-label="8:30 AM">8:30 AM</li><li class="picker__list-item" data-pick="540" role="option" aria-label="9:00 AM">9:00 AM</li><li class="picker__list-item" data-pick="570" role="option" aria-label="9:30 AM">9:30 AM</li><li class="picker__list-item" data-pick="600" role="option" aria-label="10:00 AM">10:00 AM</li><li class="picker__list-item" data-pick="630" role="option" aria-label="10:30 AM">10:30 AM</li><li class="picker__list-item" data-pick="660" role="option" aria-label="11:00 AM">11:00 AM</li><li class="picker__list-item" data-pick="690" role="option" aria-label="11:30 AM">11:30 AM</li><li class="picker__list-item" data-pick="720" role="option" aria-label="12:00 PM">12:00 PM</li><li class="picker__list-item" data-pick="750" role="option" aria-label="12:30 PM">12:30 PM</li><li class="picker__list-item" data-pick="780" role="option" aria-label="1:00 PM">1:00 PM</li><li class="picker__list-item" data-pick="810" role="option" aria-label="1:30 PM">1:30 PM</li><li class="picker__list-item" data-pick="840" role="option" aria-label="2:00 PM">2:00 PM</li><li class="picker__list-item" data-pick="870" role="option" aria-label="2:30 PM">2:30 PM</li><li class="picker__list-item" data-pick="900" role="option" aria-label="3:00 PM">3:00 PM</li><li class="picker__list-item" data-pick="930" role="option" aria-label="3:30 PM">3:30 PM</li><li class="picker__list-item" data-pick="960" role="option" aria-label="4:00 PM">4:00 PM</li><li class="picker__list-item" data-pick="990" role="option" aria-label="4:30 PM">4:30 PM</li><li class="picker__list-item" data-pick="1020" role="option" aria-label="5:00 PM">5:00 PM</li><li class="picker__list-item" data-pick="1050" role="option" aria-label="5:30 PM">5:30 PM</li><li class="picker__list-item" data-pick="1080" role="option" aria-label="6:00 PM">6:00 PM</li><li class="picker__list-item" data-pick="1110" role="option" aria-label="6:30 PM">6:30 PM</li><li class="picker__list-item" data-pick="1140" role="option" aria-label="7:00 PM">7:00 PM</li><li class="picker__list-item" data-pick="1170" role="option" aria-label="7:30 PM">7:30 PM</li><li class="picker__list-item" data-pick="1200" role="option" aria-label="8:00 PM">8:00 PM</li><li class="picker__list-item" data-pick="1230" role="option" aria-label="8:30 PM">8:30 PM</li><li class="picker__list-item" data-pick="1260" role="option" aria-label="9:00 PM">9:00 PM</li><li class="picker__list-item" data-pick="1290" role="option" aria-label="9:30 PM">9:30 PM</li><li class="picker__list-item" data-pick="1320" role="option" aria-label="10:00 PM">10:00 PM</li><li class="picker__list-item" data-pick="1350" role="option" aria-label="10:30 PM">10:30 PM</li><li class="picker__list-item" data-pick="1380" role="option" aria-label="11:00 PM">11:00 PM</li><li class="picker__list-item" data-pick="1410" role="option" aria-label="11:30 PM">11:30 PM</li><li role="presentation"><button class="picker__button--clear" type="button" data-clear="1" aria-controls="P1331682768" disabled="disabled">Clear</button></li></ul></div></div></div></div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class=" control-label ">Assign To </label>
            <%= f.select(:assign_to, @team_members.collect {|n| [ n.fullname, n.id ]},{ :include_blank => "Select User" },:class=>"form-control form-white" ,:placeholder=>"To")%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Update", :class=>"btn btn-success waves-effect waves-light",:id=>"save" %>
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
      </div>
      <% end %>
    </div>
</div>