
<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Form Horizontal</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">

            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card ">
                        <div class="card-header bg-info" style="    padding: 20px;">
                            <h4 class="card-title text-white">NEW CLASSIFIED</h4>
                        </div>
                        <% if !@classified.blank? %>
                          <%= form_for @classified, url: classifieds_url ,:multipart=> true do |f| %>
                            <div class="form-body">

                                <div class="card-body">
                                    <% if @classified.errors.any? %>

                                      <div class="row">

                                          <div class="col-md-6">
                                              <div class="form-group row" id="error_explanation">
                                                  <label class="control-label text-right col-md-3">
                                                      <%= pluralize(@classified.errors.count, "error") %> prohibited this classified from being saved:
                                                  </label>
                                                  <div class="col-md-9">
                                                      <% @classified.errors.full_messages.each do |message| %>
                                                        <p class="form-control" >
                                                            <%= message %>
                                                        </p>
                                                      <% end %>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    <% end %>
                                    <!--/row-->
                                    <h4 class="card-title">contact info</h4>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Email
                                                    <i><%= current_user.email%></i></label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :privacy ,"cl_mail",:class=>"custom-control-input",:id=>"customRadio1"%>
                                                        <label class="custom-control-label" for="customRadio1">CL mail reply</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :privacy ,"show_real_address",:class=>"custom-control-input",:id=>"customRadio2"%>  
                                                        <label class="custom-control-label" for="customRadio2">show my real email address</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :privacy ,"no_replies",:class=>"custom-control-input",:id=>"customRadio4"%>  
                                                        <label class="custom-control-label" for="customRadio4">no replies to this email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">users can also contact me:</label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.check_box :contact_text ,:class=>"custom-control-input",:id=>"customRadio6"%> 
                                                        <label class="custom-control-label" for="customRadio6">by text </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <%= f.check_box :contact_phone ,:class=>"custom-control-input",:id=>"customRadio5"%> 
                                                        <label class="custom-control-label" for="customRadio5">by phone</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">phone number</label>
                                                <div class="col-md-9">

                                                    <%= f.text_field :phone_number ,:class=> "form-control"%>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">contact name</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :contact_name , :class=>"form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <hr class="m-t-0 m-b-40">
                                <div class="card-body">
                                    <!--/row-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">
                                                    Posting Title
                                                </label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :posting_title ,:class=> "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">
                                                    Specific Location
                                                </label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :specific_location , :class=>"form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Posting</label>
                                                <div class="col-md-9">
                                                    <%= f.text_area :posting_body,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">State</label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :license   ,"unlicensed" ,:class=>"custom-control-input",:id=>"customRadio7"%>
                                                        <label class="custom-control-label" for="customRadio7">UnLicensed</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">

                                                        <%= f.radio_button :license_info ,"license_info",:class=>"custom-control-input",:id=>"customRadio8"%>
                                                        <label class="custom-control-label" for="customRadio8">Licensed [Include license info]</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-t-0 m-b-40">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Street</label>
                                                <div class="col-md-9">
                                                    <%= file_field_tag "picture[image]", type: :file, multiple: true %>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-t-0 m-b-40">
                                <div class="card-body">
                                    <h4 class="card-title"><%= f.check_box :show_on_map %> Show On Maps</h4>
                                    <!--/span-->

                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Street</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :street,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">City</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :city,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">State</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :state,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Zip Code</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :zipcode,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3"></label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.check_box :contact_ok,:class=>"custom-control-input",:id=>"customRadio9"%>
                                                        <label class="custom-control-label" for="customRadio9">ok for others to contact you about other services, products or commercial interests</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <hr>
                                <div class="form-actions">
                                    <div class="card-body">
                                        <div class="text-right">
                                            <%= link_to 'Back', classifieds_path ,:class=>"btn btn-dark"%>
                                            <%= f.submit "Save & Continue",:class=>"btn btn-info" %>
                                            <% if !@classified.id.nil? %>
                                              <%= link_to 'Show', @classified,:class=>"btn btn-info"%> 
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          <% end %>
                        <% else   %>
                          <%= form_for @classified,url: classified_url(@classified) ,:multipart=> true do |f| %>
                            <div class="form-body">
                                <hr class="m-t-0 m-b-40">
                                <div class="card-body">
                                    <% if @classified.errors.any? %>

                                      <div class="row">

                                          <div class="col-md-6">
                                              <div class="form-group row" id="error_explanation">
                                                  <label class="control-label text-right col-md-3">
                                                      <%= pluralize(@classified.errors.count, "error") %> prohibited this classified from being saved:
                                                  </label>
                                                  <div class="col-md-9">
                                                      <% @classified.errors.full_messages.each do |message| %>
                                                        <p class="form-control" >
                                                            <%= message %>
                                                        </p>
                                                      <% end %>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    <% end %>
                                    <!--/row-->
                                    <h4 class="card-title">contact info</h4>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Email
                                                    <i><%= current_user.email%></i></label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :privacy ,"cl_mail",:class=>"custom-control-input",:id=>"customRadio1"%>
                                                        <label class="custom-control-label" for="customRadio1">CL mail reply</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :privacy ,"show_real_address",:class=>"custom-control-input",:id=>"customRadio2"%>  
                                                        <label class="custom-control-label" for="customRadio2">show my real email address</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :privacy ,"no_replies",:class=>"custom-control-input",:id=>"customRadio4"%>  
                                                        <label class="custom-control-label" for="customRadio4">no replies to this email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">users can also contact me:</label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.check_box :contact_text ,:class=>"custom-control-input",:id=>"customRadio6"%> 
                                                        <label class="custom-control-label" for="customRadio6">by text </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <%= f.check_box :contact_phone ,:class=>"custom-control-input",:id=>"customRadio5"%> 
                                                        <label class="custom-control-label" for="customRadio5">by phone</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">phone number</label>
                                                <div class="col-md-9">

                                                    <%= f.text_field :phone_number ,:class=> "form-control"%>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">contact name</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :contact_name , :class=>"form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <hr class="m-t-0 m-b-40">
                                <div class="card-body">
                                    <!--/row-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">
                                                    Posting Title
                                                </label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :posting_title ,:class=> "form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">
                                                    Specific Location
                                                </label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :specific_location , :class=>"form-control"%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Posting</label>
                                                <div class="col-md-9">
                                                    <%= f.text_area :posting_body,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">State</label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.radio_button :license   ,"unlicensed" ,:class=>"custom-control-input",:id=>"customRadio7"%>
                                                        <label class="custom-control-label" for="customRadio7">UnLicensed</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">

                                                        <%= f.radio_button :license_info ,"license_info",:class=>"custom-control-input",:id=>"customRadio8"%>
                                                        <label class="custom-control-label" for="customRadio8">Licensed [Include license info]</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-t-0 m-b-40">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Street</label>
                                                <div class="col-md-9">
                                                    <%= file_field_tag "picture[image]", type: :file, multiple: true %>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-t-0 m-b-40">
                                <div class="card-body">
                                    <h4 class="card-title"><%= f.check_box :show_on_map %> Show On Maps</h4>
                                    <!--/span-->

                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Street</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :street,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">City</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :city,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">State</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :state,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Zip Code</label>
                                                <div class="col-md-9">
                                                    <%= f.text_field :zipcode,:class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3"></label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <%= f.check_box :contact_ok,:class=>"custom-control-input",:id=>"customRadio9"%>
                                                        <label class="custom-control-label" for="customRadio9">ok for others to contact you about other services, products or commercial interests</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <hr>
                                <div class="form-actions">
                                    <div class="card-body">
                                        <div class="text-right">
                                            <%= link_to 'Back', classifieds_path ,:class=>"btn btn-dark"%>
                                            <%= f.submit "Save & Continue",:class=>"btn btn-info" %>
                                            <% if !@classified.id.nil? %>
                                              <%= link_to 'Show', @classified,:class=>"btn btn-info"%> 
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
