<div class="mail-details bg-white" style="" id="show">
	<div class="card-body bg-light">
		<% if params[:status] == "sent" %>
		<a href="<%= sents_communications_url(page: params[:page]) %>" data-remote="true" >
			<button  formaction="" id="back_to_inbox" class="btn btn-outline-secondary font-18 m-r-10"><i class="mdi mdi-arrow-left"></i></button>
		</a>
		<% else %>
		<a href="<%= receives_communications_url(page: params[:page])%>" data-remote="true">
			<button  id="back_to_inbox" class="btn btn-outline-secondary font-18 m-r-10"><i class="mdi mdi-arrow-left"></i></button>
		</a>
		<% end %>
		<div class="btn-group m-r-10" role="group" aria-label="Button group with nested dropdown">
			<button type="button" class="btn btn-outline-secondary font-18" onclick="destroy(this);"><i class="mdi mdi-delete"></i></button>
		</div>
	</div>
	<div class="card-body border-bottom">
		<h4 class="m-b-0"><%=  @email.subject%></h4>
	</div>

	<div class="card-body border-bottom">
		<div class="d-flex no-block align-items-center m-b-40">
			<div class="m-r-10"><img src="<%= User.find_by_id(@email.sender_id).avatar%>" alt="user" class="rounded-circle" width="45"></div>
			<div class="">
				<h5 class="m-b-0 font-16 font-medium"><%= User.find_by_id(@email.sender_id).fullname%> <small> ( <%= User.find_by_id(@email.sender_id).email %>)</small></h5><span>to <%= @email.user_email%></span>
			</div>
		</div>
		<h4 class="m-b-15"></h4>
		<p></p>
		<%= @email.body.html_safe if !@email.body.blank?%>
	</div>
	<%if !@email.attachment.blank?%>
	<div class="card-body">
		<h4><i class="fa fa-paperclip m-r-10 m-b-10"></i> Attachments</h4>
		<div class="row">
			<div class="col-md-2">

				<%= link_to "#{@email.attachment_file_name.titleize}", attachment_url(id: @email) ,:id =>"file"%>


			</div>

		</div>
		<div class="border m-t-20 p-15">
			<p class="p-b-20">click here to <a href="javascript:void(0)">Reply</a> or <a href="javascript:void(0)">Forward</a></p>
		</div>
	</div>
	<% end %>

</div>

<script type="text/javascript">
	$(document).ready(function() {

		$("#unread-receive").text("<%= unread_receive().length %>");
		$("#unread-sent").text("<%= unread_sent().length %>");
		$("draft-emails").text("<%= draft_emails().length%>");
	});
	function destroy(source){
		var checkboxes = document.querySelectorAll('input[type="checkbox"]');
		
		console.log("ids" +<%= @email.id %>+"")
		$.ajax({
			url: "/communications/"+<%= @email.id %>+"",
			type: "DELETE",
			<% if params[:status] == "sent" %>
			data: {status: "sent"},
			<% else %>
			data: {status: "receive"},
			<% end %>
		})
	}
</script>