 
<div class="email-app">
	<div class="left-part">
		<a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
		<div class="scrollable" style="height:100%;">
			<div class="p-15">
				<a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="<%= new_sm_url %>" data-remote="true">Compose</a>
			</div>
			<div class="divider">
			</div>
			<ul class="list-group">
				<li>
					<small class="p-15 grey-text text-lighten-1 db">Folders</small>
				</li>
				<li class="list-group-item">
					<a href="<%= receives_sms_url %>" data-remote="true" id="link-inbox" class="active list-group-item-action"><i class="mdi mdi-inbox"></i> Inbox <span class="label label-success float-right" id="unread-receive"><%= unread_receive_sms().length %></span></a>
				</li>
				<li class="list-group-item">
					<hr>
				</li>
				<li class="list-group-item">
					<li class="list-group-item">
						<a href="<%=sents_sms_url%>"data-remote="true" class="list-group-item-action" id="link-sent"> <i class="mdi mdi-email"></i><span class="label label-success float-right"id="unread-sent"><%= unread_sent_sms().length%></span> Sent Mail </a>
					</li>
				</li>
				<li class="list-group-item">
					<hr>
				</li>
			</ul>
		</div>
		
		
	</div>

	<div id="sent" class="right-part">
		<% if params[:id].blank? %>
		<%= render "receive"%>
		<% else %>
		<%= render "show"%>
		<% end %>
	</div>

	<!-- ============================================================== -->
	<!-- Right Part  Mail Compose -->
	<!-- ============================================================== -->
	
</div>


<script>

	$("#compose_mail").on("click", function() {
		$('.right-part.mail-list').fadeOut("fast");
		$('.right-part.mail-details').fadeOut("fast");
		$('.right-part.mail-compose').fadeIn("fast");
	});

	$("#cancel_compose").on("click", function() {
		$('.right-part.mail-compose').fadeOut("fast");
		$('.right-part.mail-list').fadeIn("fast");
	});

	$("#mail").on("click", function() {
		$('.right-part.mail-list').fadeOut("fast");
		$('.right-part.mail-details').fadeIn("fast");
	});

	$("#back_to_inbox").on("click", function() {
		$('.right-part.mail-details').fadeOut("fast");
		$('.right-part.mail-list').fadeIn("fast");
	});

</script>