

<div class="page-breadcrumb">
	<div class="row">
		<div class="col-5 align-self-center">
			<h4 class="page-title"> Customers</h4>
			<div class="d-flex align-items-center">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="<%= admin_admin_index_url %>">Dashboard</a></li>
						<li class="breadcrumb-item"><a href="#">Vendors</a></li>
					</ol>
				</nav>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="col-md-12 text-center" style="height: 3px;">
							<h4>Customers</h4>
						</div>

					</div>

					<div class="card-body">
						<table class="table m-t-30 no-wrap table-hover contact-list" >
							<thead>
								<tr>
									<th>#</th>
									<th> Proifle Image </th>
									<th> Full Name </th>
									<th> Email </th>
									<th> Address </th>
									<th> City</th>
									<th> State</th>
									<th> Country</th>
									<th> Role</th>
									<th> Actions </th>

								</tr>
							</thead>
							<tbody>
								<% if !@customers.blank?%>
								<% @customers.each_with_index  do |customer, index| %>
								<tr >
									<td><%= index = index + 1 %></td>
									<td>
										<% if customer.avatar and customer.avatar.url %>
										<img src="<%= customer.avatar.url%>" class="img img-responsive" width="60">
										<% end %>
									</td>
									<td><%= customer.fullname rescue "" %></td>
									<td><%= customer.email%></td>
									<td><%= customer.address.try(:address_name)%> </td>
									<td><%= customer.address.try(:city_name)%> </td>
									<td><%= customer.address.try(:state_name)%> </td>
									<td><%= customer.address.try(:country_name)%> </td>
									<td><%= customer.roles.first.try(:name).capitalize%> </td>
									<td> 
										<div class="col-lg-3 col-md-3 col-sm-3">
											<input id="<%= customer.id %>" type="checkbox" <%if !customer.disable %>checked <%else %> unchecked <%end %> data-size="mini" data-on-color="warning" data-off-color="danger" data-on-text="Enabled" data-off-text="Disabled">
										</div>
										<span class="col-lg-3 col-md-3 col-sm-3" style="    top: 5px;">
                                    <%= link_to '',user_destroy_admin_admin_index_url(id:vendor,page: "user"), method: :delete,
                                    data: { confirm: "Are you sure you want to delete?" }, 
                                    :class => "fa fa-trash-alt" , :style=> "color: red"%>
                                </span>
									</td>
								</tr>
								<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-5"></div>
			<div class="col-sm-12 col-md-7">
				<%= will_paginate @customers %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("input[type='checkbox']").bootstrapSwitch();
	var radioswitch = function() {
		var bt = function() {
			$(".radio-switch").on("switch-change", function() {
				$(".radio-switch").bootstrapSwitch("toggleRadioState")
			}), $(".radio-switch").on("switch-change", function() {
				$(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
			}), $(".radio-switch").on("switch-change", function() {
				$(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
			})
		};
		return {
			init: function() {
				bt()
			}
		}
	}();
	$(document).ready(function() {
		radioswitch.init()
	});
	$("input[type='checkbox']").on('switchChange.bootstrapSwitch',  function(event, state) {
		if (state){
			var state = false
		}else{
			var state = true
		}
		$.ajax({
			url: "/admin/admin/"+ $(this).attr("id"),
			type: "PATCH",
			data: {'user':{'disable':  state }}
			
		});
	})
</script>