<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Invoices</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= admin_admin_index_url%>">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-12" style=" background: #fff; padding: 0px">

            <!-- Nav tabs -->


            <!-- Tab panes -->
            <div class="tab-content m-t-20">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12 text-center" style="height: 3px;">
                                    <h4>Invoices</h4>
                                </div>

                            </div>


                            <div class="card-body">
                                <table class="table m-t-30 no-wrap table-hover contact-list" >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Customer </th>
                                        <th>Issue Date</th>
                                        <th>Total Amount</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% if !@invoices.blank?%>
                                    <% @invoices.each do |invoice| %>
                                    <tr>
                                        <td><%= invoice.try(:id) %></td>
                                        <td><%=  customer_name_invoice(invoice) %></td>
                                        <td><%= invoice.issued_date.strftime("%b/%m/%Y")  %></td>
                                        <td> $<%= invoice.try(:grand_total)%></td>
                                        <td> <%= invoice.try(:status)%></td>
                                        <td>

                                        </td>
                                    </tr>
                                    <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <%= will_paginate @invoices %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<br>
<br>
