

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title"> Vendors</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%= admin_admin_index_url %>">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Vendors</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 text-center" style="height: 3px;">
                           <h4>Vendors</h4>
                        </div>
                    </div>
                    <div class="card-body">
                      <table  class="table m-t-30 no-wrap table-hover contact-list" >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> Proifle Image </th>
                                <th> Full Name </th>
                                <th> Email </th>
                                <th> Address </th>
                                <th> City</th>
                                <th> State</th>
                                <th> Country</th>
                                <th> Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if !@vendors.blank?%>
                            <% @vendors.each_with_index  do |vendor, index| %>
                            <tr >
                                <td><%= index = index + 1 %></td>
                                <td>
                                    <% if vendor.avatar and vendor.avatar.url %>
                                    <img src="<%= vendor.avatar.url%>" class="img img-responsive" width="60">
                                    <% end %>
                                </td>
                                <td><%= vendor.fullname rescue "" %></td>
                                <td><%= vendor.email%></td>
                                <td><%= vendor.address.try(:address_name)%> </td>
                                <td><%= vendor.address.try(:city_name)%> </td>
                                <td><%= vendor.address.try(:state_name)%> </td>
                                <td><%= vendor.address.try(:country_name)%> </td>
                                <td><%= vendor.roles.first.try(:name).capitalize%> </td>
                             
                            </tr>
                            <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5"></div>
        <div class="col-sm-12 col-md-7">
            <%= will_paginate @vendors %>
        </div>
    </div>
</div>
</div>
